* { /* reset */
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 40px;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}

form input {
    font-size: 24px;
    background-color: #fff;
    padding: 8px;
    margin-right: 8px;
}

form button {
    font-size: 20px; 
    padding: 8px;
    cursor: pointer;
    font-weight: 700;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.listagem {
    text-align: center;
}

ul {
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

li {
    margin: 0;
    text-align: initial;
    cursor: pointer;
}

li:hover {
    color: #717171;
}